# GitHub OIDC configuration
github_org  = "atoumbre"
github_repo = "cloud_resume_challenge"

# AWS configuration
aws_region   = "us-east-1"
project_name = "cloud-resume-challenge"
domain_name  = "atoumbre.me"

# Cloudflare configuration
cloudflare_zone_id = "8d5e85cac11bdc33d3fa21f66a176ab2"
